/* THESE STYLES ARE HERE FOR EXAMPLE ONLY*/
.more-link {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  display: block;
}
body {
  overflow: hidden;
}
section {
  overflow: hidden;
  display: block;
}
.sidebar {
  border: 1px solid orange;
  padding: 5px;
}
.page-title {
  color: orange;
}
