@charset "UTF-8";
@import url('frankly.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html{font-family:"Open Sans","Helvetica Neue",Arial,sans-serif;color:#4d4d4f}

h1{font-family:Georgia,Times,"Times New Roman",serif;font-style:italic}

h3{font-weight:600}
h4{font-weight:300}
h5{background-color:yellow}