@charset "UTF-8";
/*------------------------------------------------------------------------*\
  STYLE.CSS
  	Master Style Sheet
  	You edit this file and add your custom css here.
  	Dont forget to include Frankly.css - @import url('frankly.css');
\*------------------------------------------------------------------------*/



/* INCLUDES
------------------------------------------------------------------------------------------------------------------------ */
@import url('frankly.css'); /* THE FRANKLY CSS FRAMEWORK */



/* FONTS
------------------------------------------------------------------------------------------------------------------------ */
/* GOOGLE FONTS INCLUDE */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

html {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	color: #4d4d4f;
}

/* HEADINGS - Set your main heading sizes, line heights and margins in Frankly.css */
h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}
h3 {
	font-weight: 600;
}
h4 {
	font-weight: 300;
}



/* SHARED
------------------------------------------------------------------------------------------------------------------------ */
.more-link {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	display: block;
}

.navigation-bar {
	background: #000000;
	color: #FFFFFF;
	height: 100%;
	width: 100%;
	position: fixed;
}
.section-header {
	background: #323539;
}
.main-navigation ul li {
	list-style-type: none;
	display: list-item;
}
.main-navigation a {
	color: #FFFFFF;
}
.right-side {
	position: relative;
	float: right;
}
.featured-content-blocks {
	background: #FFFFFF;
}
.section-header {
	color: #FFFFFF;
	text-align: center;
}
.conent-icon img {
	width: 200px;
	margin: -70px 0;
}
.bee-news {
	background: #d7d7d7;
	padding: 20px 80px;
	text-align: center;
}
.featured-elements {
	padding: 0 50px;
}
.news {
	border-left: 1px solid #000000;
}
.block-1-featured {
	background: #FFFFFF;
	padding: 20px 30px;
	min-height: 209px;
}
.block-1-featured:hover {
	background: #000000;
	color: #FFFFFF;
}
.slider-section {
	background: url("../images/slider_background.png") repeat;
	padding: 20px;
}
.slider {
	display: inline-block;

}
.footer {
	background: url('../images/contact-details-background.png');
	color: #FFFFFF;
	padding: 50px;
}
.footer-contact-details .contact-content p {
	margin-bottom: 5px;
	line-height: normal;
}
.support-footer {
	background: #000000;
	color: #FFFFFF;
	padding: 10px 0;
	text-align: center;
}